<%- include('master.ejs', {title: 'Home'}); %>
<h1>Hello, welcome <%= data.name %></h1>
<% data.people.forEach((person) => { %>
<p><%= person %></p>
<% }); %>
<div v-scope="{ count: 0 }">
  {{ count }}
  <button @click="count++">inc</button>
</div>
<a href="/about">About</a>
