<div class="mt-6 ml-6">
  <div class="py-4">
    <p>
      1. Enter your email or a disposable email from
      <span
        ><a
          href="https://temp-mail.org/en"
          target="_blank"
          class="underline text-blue-300"
          >temp-email.org</a
        ></span
      >
    </p>
  </div>

  <div id="my-form">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div class="mb-1 mr-3">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-600"
          >Email address</label
        >
        <input
          type="email"
          id="email-input"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="john.doe@company.com"
          required
        />
      </div>
      <br />
      <div class="mb-1 mr-3">
        <label
          for="languages"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-600"
          >Select an option</label
        >
        <select
          required
          id="language-input"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Choose a language</option>
          <% languages.forEach(function(language){ %>
          <option value="<%=language.code%>"><%= language.language%></option>
          <% }); %>
        </select>
      </div>
    </div>
    <button
      id="subscribe-btn"
      class="mr-4 inline-flex items-center justify-center px-5 py-3 text-base font-medium text-white bg-indigo-500 border border-transparent rounded-md shadow hover:bg-indigo-700"
      data-primary="indigo-600"
      data-rounded="rounded-md"
      onclick="subscribe()"
    >
      Subscribe
    </button>
    <div class="lg:w-3/6 mr-4">
      <div
        id="success-alert"
        class="flex p-4 mb-4 bg-green-100 rounded-lg dark:bg-green-200 mt-4 hidden"
        role="alert"
      >
        <div class="ml-3">
          <p
            id="success-msg"
            class="text-sm font-medium text-green-700 dark:text-green-800"
          ></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ml-6 pb-6 mt-6 text-gray-500">
  <p>*Note - You can unsubscribe at any point.</p>
</div>
